{% extends "android_obd/base.html" %}

{% block title %}Twoje trasy - EndoCarMondo{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="bs-example">
            <h4><center>Twoje trasy</center></h4>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Video Link</th>
                        <th>Tags</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
        {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td><a href="{{ record.video_link }}">{{ record.video_link }}</a></td>
                        <td>
			{% for tag in record.tags.all %}
            				<a href="{% url 'tags' tag=tag %}">{{ tag }} </a>
			{% endfor %}
            			</td>
                        <td><a href="{% url 'route' id=record.id %}">klik</a></td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
                <ul class="pagination">
    {% if records.has_previous %}
                    <li><a href="{% url 'routes_paged' page=records.previous_page_number %}">&laquo;</a></li>
    {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}
    {% for page in records.paginator.page_range %}
                    <li{% ifequal page records.number %} class="active"{% endifequal %}><a href="{% url 'routes_paged' page=page %}">{{ page }}</a></li>
    {% endfor %}
    {% if records.has_next %}
                    <li><a href="{% url 'routes_paged' page=records.next_page_number %}">&raquo;</a></li>
    {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
    {% endif %}
                </ul>

        </div>
    </div>
</div>
{% endblock %}