{% extends "android_obd/base.html" %}

{% block title %}Witaj w EndoCarMondo{% endblock title %}

{% block content %}
		<div class="jumbotron">
			<div class="container">
				<h1>EndoCarMondo</h1>
				<p><strong>Rejestruj</strong> trasy<br />
				<strong>Rywalizuj</strong> ze znajomymi<br />
				<strong>Analizuj</strong> parametry</p>
			{% if not user.is_authenticated %}	
				<p><a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Zarejestruj się... &raquo;</a></p>
			{% endif %}
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4><center>Ostatnio dodane przejazdy</center></h4>
		            <table class="table table-bordered table-condensed table-striped">
		                <thead>
		                    <tr>
		                        <th class="col-md-1">Nr</th>	
								<th class="col-md-2">User</th>
		                        <th>Video Link</th>
		                        <th>Tags</th>
		                        <th class="col-md-1">Details</th>
		                    </tr>
		                </thead>
		                <tbody>
		    {% for record in last_added %}
		                    <tr>
								<td>{% ifequal request.user record.user %}<b>{{ record.id }}</b>{% else %}{{ record.id }}{% endifequal %}</td>
								<td><a href="{% url 'profile' slug=record.user %}">{% ifequal request.user record.user %}<b>{{ record.user }}</b>{% else %}{{ record.user }}{% endifequal %}</a></td>
								<td><a href="{{ record.video_link }}">{% ifequal request.user record.user %}<b>{{ record.video_link }}</b>{% else %}{{ record.video_link }}{% endifequal %}</a></td>
		                        <td>
				{% for tag in record.tags.all %}
									<a href="{% url 'tags' tag=tag %}">{% ifequal request.user record.user %}<b>{{ tag }}</b>{% else %}{{ tag }}{% endifequal %}</a>
				{% endfor %}
								</td>
		                        <td><a href="{% url 'route' id=record.id %}">{% ifequal request.user record.user %}<b>klik</b>{% else %}klik{% endifequal %}</a></td>
		                    </tr>
		    {% endfor %}
		                </tbody>
		            </table>
 
					<p><a class="btn btn-default" href="{% url 'more' type='recent' %}" role="button">Zobacz więcej &raquo;</a></p>
				</div>
				<div class="col-md-4">
					<h4><center>Najwięcej dodanych przejazdów</center></h4>
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th class="col-md-3"><center>Użytkownik</center></th>
								<th class="col-md-1"><center>Przejazdów</center></th>
							</tr>
						</thead>
						<tbody>
	{% for user in most_added %}
							<tr>
								<td><a href="{% url 'profile' slug=user.username %}">{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.username }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</a></td>
								<td>{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.records_count }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</td>
							</tr>
	{% endfor %}
						</tbody>
					</table>
					<p><a class="btn btn-default" href="{% url 'more' type='added' %}" role="button">Zobacz więcej &raquo;</a></p>
				</div>
				<div class="col-md-4">
					<h4><center>Największy dystans</center></h4>
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th class="col-md-3"><center>Użytkownik</center></th>
								<th class="col-md-1"><center>Dystans</center></th>
							</tr>
						</thead>
						<tbody>
	{% for user in longest_distance %}
							<tr>
								<td><a href="{% url 'profile' slug=user.username %}">{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.username }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</a></td>
								<td>{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.total_distance }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</td>
							</tr>
	{% endfor %}
						</tbody>
					</table>
					<p><a class="btn btn-default" href="{% url 'more' type='longest' %}" role="button">Zobacz więcej &raquo;</a></p>
				</div>
				<div class="col-md-4">
					<h4><center>Najmniejsze spalanie</center></h4>
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th class="col-md-3"><center>Użytkownik</center></th>
								<th class="col-md-1"><center>Spalanie</center></th>
							</tr>
						</thead>
						<tbody>
	{% for user in smallest_fuel_consumption %}
							<tr>
								<td><a href="{% url 'profile' slug=user.username %}">{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.username }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</a></td>
								<td>{% ifequal request.user|slugify user.username %}<b>{% endifequal %}{{ user.total_fuel_consumption }}{% ifequal request.user|slugify user.username %}</b>{% endifequal %}</td>
							</tr>
	{% endfor %}
						</tbody>
					</table>
					<p><a class="btn btn-default" href="{% url 'more' type='fuel' %}" role="button">Zobacz więcej &raquo;</a></p>
				</div>
			</div>
		</div>

{% endblock content %}
