{% extends "android_obd/base.html" %}
{% load static %}

{% block title %}Wybrana trasa{% endblock title %}

{% block style %}
		<style type="text/css">
			body {
			  padding-top: 50px;
			  padding-bottom: 20px;
			}
		</style>
{% endblock style %}

{% block content %}

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-6">
              <h2>Mapa</h2>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvBedZY7MOZPqbGxmkBctmNfm2ooi9xls&sensor=true">
   		 </script>
		<script src="{% static 'android_obd/js/map.js' %}"></script>
		<div id="map-canvas" style="width: 400px; height: 400px; border: 2px solid black; background: gray;">   
        		<!-- tu będzie mapa -->  
    		</div> 
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-6">
              <h2>Wykres</h2>
		<p>W tym miejscu bedzie wykres, ktory bedzie przedstawial zebrane dane.
		<li>aaa
		<li>bbb 
		</p>
            </div><!--/span-->
          </div><!--/row-->    
	 <div class="col-6 col-sm-6 col-lg-6">
	 <h2>Miejsce na video</h2>
         </div><!--/span-->
	</div><!--/span-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="{% url 'register' %}" class="list-group-item">Wybor nowej trasy</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/container-->
{% endblock content %}

