{% if not user.is_authenticated %}
					<form class="navbar-form navbar-right form-inline" role="form" method="post" action="/login/">
						<input class="form-control" name="username" type="text" placeholder="Login">
						<input class="form-control" name="password" type="password" placeholder="Hasło">
						<input type="hidden" name="next" value="{{ request.path }}" />
						<button type="submit" class="btn btn-success">Zaloguj</button>
		            </form>	
{% else %}
		<!--			<li class='{% ifequal request.path '/tasks/' %}active {% endifequal %}dropdown'>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Zadania <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/new_task/">Dodaj zadanie</a></li>
							<li><a href="/tasks/">Moje Zadania</a></li>
						</ul>
					</li>			-->
{% endif %}